.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #011627;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

#todolist-title {
    font-size: 2rem;
    margin: 1rem;
}

.todolist-nav {
    margin: 15px auto;
}

.todolist-form-input, .todolist-item {
    background-color: rgba(231,236,239, .67);
    margin: 10px;
    padding: 10px;
    border: #274c77 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #274c77;
    transition: all .3s;
}

.todolist-form-input:focus {
    outline: none;
    background-color: rgba(231,236,239, .3);
}

.todolist-item {
    display: flex;
    align-items: center;
}

.todolist-item:hover {
    background-color: rgb(231,236,239);
}

.todolist-item-label, .todo-checkbox {
    margin-right: 10px;
}

.todolist-btn, .btn-trash {
    color: #274c77;
    border: 1px solid #274c77;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s;
}

.todolist-btn {
    background-color: rgba(231,236,239, .67);
}

.todolist-btn:hover, .todolist-btn.active {
    background-color: #274c77;
    color: rgb(231,236,239);
    cursor: pointer;
}

.btn-trash {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .67);
    margin-left: auto;
    padding: .25rem;
    border-radius: .25rem;
}

.btn-trash:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.hide-completed .is-completed {
    display: none!important;
}

.hide-todo .todolist-item:not(.is-completed) {
    display: none!important;
}